.content {
    background-image: url(/assets/images/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }

h2,h1,h3 {
    color: white;
    font-size: 40px;
    text-align: center;
}

p,li{
    color: azure;
    font-size: 20px;
    text-align: center;
}

ul{
  text-align: center;  
}

a:hover{
    color: #9580ff;
}

a{
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.1s; 
    -webkit-transition-timing-function: ease; 
}

img[src*='#pfp']{
  height: 300px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  float: left;
  border-radius: 50%;
  -webkit-transition-property: all; 
  -webkit-transition-duration: 0.3s; 
  -webkit-transition-timing-function: ease; 
}

img[src*='#moon']{
  height: 400px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  float: center;

  -webkit-transition-property: all; 
  -webkit-transition-duration: 0.3s; 
  -webkit-transition-timing-function: ease; 
}









img[src*='#jupiter']{
  height: 200px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;

  -webkit-transition-property: all; 
  -webkit-transition-duration: 0.3s; 
  -webkit-transition-timing-function: ease; 
}

img[src*='#saturn']{
  height: 200px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;

  -webkit-transition-property: all; 
  -webkit-transition-duration: 0.3s; 
  -webkit-transition-timing-function: ease; 
}


img[src*='#team']{
  height: 400px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  float: center;

  -webkit-transition-property: all; 
  -webkit-transition-duration: 0.3s; 
  -webkit-transition-timing-function: ease; 
}








img[src*='#moon']:hover{
    transform: scale(1.2); 
}
img[src*='#team']:hover{
    transform: scale(1.6); 
}


img[src*='#saturn']:hover{
  transform: scale(2);
}

img[src*='#jupiter']:hover{
  transform: scale(2);
}


img[src*='#pfp']:hover{
    transform: scale(1.2); 
}
